HelloWorldBS/XMLSchema_1240958157.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. --><xsd:schema xmlns:ns0="http://yekki.me/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://yekki.me/"><xsd:complexType name="sayHello"><xsd:sequence><xsd:element name="arg0" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:complexType name="sayHelloResponse"><xsd:sequence><xsd:element name="return" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:element name="sayHello" type="ns0:sayHello"/><xsd:element name="sayHelloResponse" type="ns0:sayHelloResponse"/></xsd:schema>